html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(1em + 1vw);
  line-height: calc(1.2 * 3vw);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}
